<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    Создать игру
    <form method="post" action="createGame">
        {% csrf_token %}
        <label>
            Название игры
            <input name="name" type="text">
        </label>
        <br>
        <label>
            Пароль игры
            <input name="password" type="text">
        </label>
        <br>
        <label>
            Количество игроков в игре
            <input name="countPlayers" type="number">
        </label>
        <br>
        <label>
            <input type="submit">
        </label>
    </form>
    Войти в игру
    <form method="post" action="enterGame">
        {% csrf_token %}
        <label>
            Название игры
            <input name="name" type="text">
        </label>
        <br>
        <label>
            Пароль игры
            <input name="password" type="text">
        </label>
        <br>
        <label>
            <input type="submit">
        </label>
    </form>
    <br>
    Список активных игр:
    <ul>
        {% for i in games %}
            <li>
                {{ i.name }}
                <br>
                <form method="post" action="play">
                    {% csrf_token %}
                    <label>
                        <input name="id" type="hidden" value={{ i.id }}>
                    </label>
                    <label>
                        <input type="submit" value="Выбрать игру">
                    </label>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>