<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    Создать игру
    <form method="post" action="createGame">
        <label>
            Название игры
            <input name="name" type="text">
        </label>
        <br>
        <label>
            Пароль игры
            <input name="password" type="text">
        </label>
        <br>
        <label>
            Количество игроков в игре
            <input name="countPlayers" type="number">
        </label>
        <br>
        <label>
            <input type="submit">
        </label>
    </form>
</body>
</html>